{% extends 'amforms/_layouts/overview' %}

{% set title = 'Fields'|t %}
{% set selectedTab = 'fields' %}

{% set extraPageHeaderHtml %}
    <div class="buttons right">
        <div class="btngroup submit">
            <a class="btn submit add icon" href="{{ url('amforms/fields/new') }}">{{ 'New field'|t }}</a>
        </div>
    </div>
{% endset %}

{% block content %}
    <p id="nofields"{% if fields %} class="hidden"{% endif %}>
        {{ "No fields exist yet."|t }}
    </p>

    {% if fields %}
        <table id="fields" class="data fullwidth collapsible">
            <thead>
                <th scope="col">{{ "Name"|t }}</th>
                <th scope="col">{{ "Handle"|t }}</th>
                <th scope="col">{{ "Type"|t }}</th>
                <td class="thin"></td>
            </thead>
            <tbody>
                {% for field in fields %}
                    <tr data-id="{{ field.id }}" data-name="{{ field.name|t }}">
                        <th scope="row" data-title="{{ 'Name'|t }}"><a href="{{ url('amforms/fields/edit/' ~ field.id) }}">{{ field.name|t }}</a>
                            {%- if field.required %} <span class="required"></span>{% endif -%}
                        </th>
                        <td data-title="{{ 'Handle'|t }}"><code>{{ field.handle }}</code></td>
                        <td data-title="{{ 'Type'|t }}">
                            {% set fieldType = field.getFieldType() %}
                            {% if fieldType %}
                                {{ fieldType.name }}
                            {% else %}
                                <span class="error">{{ field.type }}</span>
                            {% endif %}
                        </td>
                        <td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{% set js %}
    new Craft.AdminTable({
        tableSelector: '#fields',
        noObjectsSelector: '#nofields',
        deleteAction: 'amForms/fields/deleteField'
    });
{% endset %}
{% includeJs js %}
