{% extends 'amforms/_layouts/overview' %}

{% set title = 'Exports'|t %}
{% set selectedTab = 'exports' %}

{% set extraPageHeaderHtml %}
    <div class="buttons right">
        <div class="btngroup submit">
            <a class="btn submit add icon" href="{{ url('amforms/exports/new') }}">{{ 'New export'|t }}</a>
        </div>
    </div>
{% endset %}

{% block content %}
    <p id="noexports"{% if exports %} class="hidden"{% endif %}>
        {{ "No exports exist yet."|t }}
    </p>

    {% if exports %}
        <table id="formExports" class="data fullwidth collapsible">
            <thead>
                <th scope="col">{{ 'Form'|t }}</th>
                <th scope="col">{{ 'Name'|t }}</th>
                <th scope="col">{{ 'Total submissions'|t }}</th>
                <th scope="col">{{ 'Total submissions that met the criteria'|t }}</th>
                <th scope="col">{{ 'Status'|t }}</th>
                <th scope="col">{{ 'Date updated'|t }}</th>
                <td class="thin"></td>
            </thead>
            <tbody>
                {% for export in exports %}
                    {% set form = craft.amForms.getFormById(export.formId) %}

                    <tr data-id="{{ export.id }}" data-name="{{ '{form} export'|t({'form': form.name}) }}">
                        <th scope="row" data-title="{{ 'Form'|t }}">
                            {% if export.submissions %}
                                {{ form.name|t }}
                            {% else %}
                                <a href="{{ url('amforms/exports/edit/' ~ export.id) }}">{{ form.name|t }}</a>
                            {% endif %}
                        </th>
                        <td data-title="{{ 'Name'|t }}">{{ export.name }}</td>
                        <td data-title="{{ 'Total submissions'|t }}">{{ export.total }}</td>
                        <td data-title="{{ 'Total submissions that met the criteria'|t }}">
                            {% if export.totalCriteria is not null %}
                                {{ export.totalCriteria }}
                            {% else %}
                                <a href="{{ actionUrl('amForms/exports/getTotalByCriteria', { id: export.id }) }}">{{ 'Calculate'|t }}</a>
                            {% endif %}
                        </td>
                        <td data-title="{{ 'Status'|t }}">
                            {% if export.finished %}
                                <a href="{{ actionUrl('amForms/exports/downloadExport', { id: export.id }) }}">{{ 'Download'|t }}</a>
                                <a class="menubtn" title="{{ 'Options'|t }}"></a>
                                <div class="menu">
                                    <ul>
                                        <li><a href="{{ actionUrl('amForms/exports/restartExport', { id: export.id }) }}">{{ 'Restart'|t }}</a></li>
                                    </ul>
                                </div>
                            {% else %}
                                {{ 'Busy'|t }}
                            {% endif %}
                        </td>
                        <td data-title="{{ 'Date updated'|t }}">{{ export.dateUpdated.uiTimestamp() }}</td>
                        <td class="thin">
                            <a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{% set js %}
    new Craft.AdminTable({
        tableSelector: '#formExports',
        noObjectsSelector: '#noexports',
        deleteAction: 'amForms/exports/deleteExport'
    });
{% endset %}
{% includeJs js %}
