{% extends '_layouts/cp' %}

{% set fullPageForm = true %}

{% import '_includes/forms' as forms %}

{% set title = 'Edit submission'|t %}

{% set crumbs = [
    { label: craft.amForms.name, url: url('amforms') },
    { label: 'Submissions'|t, url: url('amforms/submissions') }
] %}

{% if namespace is not defined %}{% set namespace = 'fields' %}{% endif %}

{% block main %}
    <input type="hidden" name="action" value="amForms/submissions/saveSubmission">
    <input type="hidden" name="handle" value="{{ form.handle }}">
    <input type="hidden" name="submissionId" value="{{ submissionId }}">
    <input type="hidden" name="redirect" value="amforms/submissions/edit/{id}">

    <div class="grid first">
        <div class="item first" data-position="left" data-min-colspan="2" data-max-colspan="3">
            <div id="fields" class="pane">
                {% include "_includes/tabs" %}

                {% for tab in layoutTabs -%}
                    {% set fields = tab.getFields() -%}

                    <div id="tab{{ loop.index }}"{% if not loop.first %} class="hidden"{% endif %}>
                        {% namespace namespace %}
                            {% for field in fields %}
                                {% include "_includes/field" with {
                                    field: field.getField(),
                                    required: field.required,
                                    element: submission,
                                    static: null
                                } only %}
                            {% endfor %}
                        {% endnamespace %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="item" data-position="right" data-colspan="1">
            <div class="pane">
                <div class="btn menubtn right" data-icon="settings" title="{{ 'Actions'|t }}"></div>
                <div class="menu">
                    <ul>
                        {% if currentUser.can('accessAmFormsExports') -%}
                            <li>
                                <a class="formsubmit" data-action="amForms/exports/exportSubmission" data-confirm="{{ "Are you sure you want to export this submission and all of it's data?"|t }}" data-redirect="amforms/exports">{{ 'Export'|t }}</a>
                            </li>
                        {% endif %}
                        <li>
                            <a class="formsubmit" data-action="amForms/submissions/deleteSubmission" data-confirm="{{ "Are you sure you want to delete this submission and all of it's data?"|t }}" data-redirect="amforms/submissions">{{ 'Delete'|t }}</a>
                        </li>
                    </ul>
                </div>

                <p class="first">{{ 'Date created'|t }}<br/><strong>{{ submission.dateCreated|date('F j, Y - H:i') }}</strong></p>

                <p>{{ 'Form name'|t }}<br/><strong>{{ form.name }}</strong></p>

                <p>{{ 'Submitted from'|t }}<br /><strong>{{ submission.submittedFrom }}</strong></p>
            </div>
        </div>
    </div>
{% endblock %}
