{% extends '_layouts/cp' %}

{% set fullPageForm = true %}

{% import '_includes/forms' as forms %}

{% set title = 'Notes'|t %}

{% set crumbs = [
    { label: craft.amForms.name, url: url('amforms') },
    { label: 'Submissions'|t, url: url('amforms/submissions') },
    { label: submission.title,  url: submission.getCpEditUrl() }
] %}

{% set tabs = {
    submission: {
        label: 'Submission'|t,
        url: submission.getCpEditUrl()
    },
    notes: {
        label: 'Notes'|t,
        url: '#'
    }
} %}
{% set selectedTab = 'notes' %}

{% block main %}
    <div class="grid first">
        <div class="item first" data-position="left" data-min-colspan="2" data-max-colspan="3">
            <div id="fields" class="pane">
                {% include "_includes/tabs" %}

                <p id="nonotes"{% if notes|length %} class="hidden"{% endif %}>
                    {{ "No notes exist yet."|t }}
                </p>

                {% if notes|length %}
                    <table id="submissionNotes" class="data fullwidth collapsible">
                        <thead>
                            <th scope="col">{{ 'Name'|t }}</th>
                            <th scope="col">{{ 'Note'|t }}</th>
                            <th scope="col">{{ 'Date'|t }}</th>
                            <td class="thin"></td>
                        </thead>
                        <tbody>
                            {% for displayNote in notes -%}
                                <tr data-id="{{ displayNote.id }}" data-name="{{ 'Note of {date}'|t({ date: displayNote.dateCreated|date('d-m-Y') }) }}">
                                    <th scope="row" data-title="{{ 'Name'|t }}">{{ displayNote.name }}</th>
                                    <td data-title="{{ 'Note'|t }}" width="65%">{{ displayNote.text|nl2br }}</td>
                                    <td data-title="{{ 'Date'|t }}">{{ displayNote.dateCreated|date('d-m-Y') }}</td>
                                    <td class="thin">
                                        <a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
        <div class="item" data-position="right" data-colspan="1">
            <div class="pane">
                <h1>{{ 'Add a note'|t }}</h1>

                <input type="hidden" name="action" value="amForms/notes/saveNote">
                <input type="hidden" name="submissionId" value="{{ submission.id }}">
                <input type="hidden" name="redirect" value="amforms/submissions/edit/{{ submission.id }}/notes">

                {{ forms.textField({
                    label: 'Name'|t,
                    id: 'name',
                    name: 'name',
                    value: (note.name|length ? note.name : user.firstName),
                    errors: note.getErrors('name'),
                    first: true,
                    required: true,
                    instructions: 'Name of the contact person.'|t
                }) }}
                {{ forms.textareaField({
                    label: 'Note'|t,
                    id: 'text',
                    name: 'text',
                    value: note.text,
                    errors: note.getErrors('text'),
                    rows: 10,
                    required: true
                }) }}
            </div>
        </div>
    </div>
{% endblock %}

{% set js %}
    new Craft.AdminTable({
        tableSelector: '#submissionNotes',
        noObjectsSelector: '#nonotes',
        deleteAction: 'amForms/notes/deleteNote'
    });
{% endset %}
{% includeJs js %}
