{% extends 'amforms/_layouts/cp' %}

{% import '_includes/forms' as forms %}

{% set fullPageForm = true %}
{% set saveShortcutRedirect = 'amforms/forms/edit/{id}' %}
{% set title = (formId is defined ? 'Edit form'|t : 'New form'|t) %}

{% set crumbs = [
    { label: craft.amForms.name, url: url('amforms') },
    { label: 'Forms'|t, url: url('amforms/forms') },
    { label: title, url: '#' }
] %}

{% set tabs = {
    form: {
        label: "General"|t,
        url: '#form'
    },
    formfields: {
        label: "Fields"|t,
        url: '#designer'
    },
    notifications: {
        label: "Notifications"|t,
        url: '#notification',
        class: (form.getErrors('notificationEnabled')|length ? 'error' : null)
    }
} %}
{% if currentUser.admin %}
    {% set tabs = tabs|merge({
        templates: {
            label: "Templates"|t,
            url: '#templates'
        }
    }) %}
{% endif %}
{% set tabs = tabs|merge({
    usage: {
        label: "Used at"|t,
        url: '#usage'
    }
}) %}

{% block saveButton %}
    <div class="btngroup">
        <input type="submit" class="btn submit" value="{{ 'Save'|t }}">

        <div class="btn submit menubtn"></div>
        <div class="menu">
            <ul>
                <li><a class="formsubmit" data-redirect="amforms/forms/edit/{id}">
                    {{ 'Save and continue editing'|t }}
                    {{ forms.optionShortcutLabel('S') }}
                </a></li>
                {% if formId is defined %}
                    <li><a class="formsubmit" data-param="formId" data-value="copy" data-redirect="amforms/forms/edit/{id}">{{ 'Save as a new form'|t }}</a></li>
                    <li><a class="formsubmit error" data-action="amForms/forms/deleteForm" data-confirm="{{ "Are you sure you want to delete this form and all of it's data?"|t }}" data-redirect="amforms/forms">{{ 'Delete'|t }}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block content %}
    <input type="hidden" name="action" value="amForms/forms/saveForm">
    <input type="hidden" name="redirect" value="amforms/forms">
    {% if formId is defined -%}<input type="hidden" name="formId" value="{{ formId }}">{% endif %}

    <div id="form">
        {% include 'amforms/forms/_fields/form' %}
    </div>

    <div id="designer" class="hidden">
        {% include 'amforms/forms/_fields/designer' %}
    </div>

    <div id="notification" class="hidden">
        {% include 'amforms/forms/_fields/notifications' %}
    </div>

    {% if currentUser.admin -%}
        <div id="templates" class="hidden">
            {% include 'amforms/forms/_fields/templates' %}
        </div>
    {% endif %}

    <div id="usage" class="hidden">
        {% include 'amforms/forms/_fields/usage' %}
    </div>

    {% include 'amforms/forms/_fields/attributes' %}
{% endblock %}
