{{ forms.lightswitchField({
    label: 'Send notifications'|t,
    id: 'notificationEnabled',
    name: 'notificationEnabled',
    on: form.notificationEnabled,
    first: true,
    onLabel: 'Enable'|t,
    offLabel: 'Disable'|t,
    errors: form.getErrors('notificationEnabled'),
    instructions: 'Whether to email form submissions.'|t
}) }}
{{ forms.lightswitchField({
    label: 'Send copy'|t,
    id: 'sendCopy',
    name: 'sendCopy',
    on: form.sendCopy,
    onLabel: 'Enable'|t,
    offLabel: 'Disable'|t,
    errors: form.getErrors('sendCopy'),
    instructions: 'Whether to send a copy to the submitter.'|t,
    toggle: 'sendCopyTo-container'
}) }}
<div class="hidden" id="sendCopyTo-container">
    {{ forms.selectField({
        label: "Send copy to"|t,
        instructions: "Please select an email field."|t,
        warning: "The value of this field should be an email address."|t,
        id: 'sendCopyTo',
        name: 'sendCopyTo',
        options: craft.amForms.getFieldHandles(),
        value: form.sendCopyTo
    }) }}
</div>
{{ forms.lightswitchField({
    label: 'Add attachments with notifications'|t,
    id: 'notificationFilesEnabled',
    name: 'notificationFilesEnabled',
    on: form.notificationFilesEnabled,
    onLabel: 'Enable'|t,
    offLabel: 'Disable'|t,
    errors: form.getErrors('notificationFilesEnabled'),
    instructions: 'Whether to add possible attachments to the email.'|t
}) }}
{{ forms.textField({
    label: 'Email recipients'|t,
    id: 'notificationRecipients',
    name: 'notificationRecipients',
    value: form.notificationRecipients,
    errors: form.getErrors('notificationRecipients'),
    instructions: 'Who will receive the notification? Enter comma separated email addresses for more recipients.'|t
}) }}
{{ forms.textField({
    label: 'Subject'|t,
    id: 'notificationSubject',
    name: 'notificationSubject',
    value: form.notificationSubject,
    errors: form.getErrors('notificationSubject'),
    instructions: 'The subject of your notification email.'|t
}) }}
{{ forms.textField({
    label: 'Sender name'|t,
    id: 'notificationSenderName',
    name: 'notificationSenderName',
    value: form.notificationSenderName,
    errors: form.getErrors('notificationSenderName'),
    instructions: 'The name of the sender of your notification email.'|t
}) }}
{{ forms.textField({
    label: 'Sender email address'|t,
    id: 'notificationSenderEmail',
    name: 'notificationSenderEmail',
    value: form.notificationSenderEmail,
    errors: form.getErrors('notificationSenderEmail'),
    instructions: 'The email address of the sender of your notification email.'|t
}) }}
{{ forms.textField({
    label: 'Reply to email address'|t,
    id: 'notificationReplyToEmail',
    name: 'notificationReplyToEmail',
    value: form.notificationReplyToEmail,
    errors: form.getErrors('notificationReplyToEmail'),
    instructions: 'The reply to email address of your notification email.'|t
}) }}
