{{ forms.lightswitchField({
    label: 'Send notifications'|t,
    id: 'notificationEnabled',
    name: 'notificationEnabled',
    on: form.notificationEnabled,
    first: true,
    onLabel: 'Enable'|t,
    offLabel: 'Disable'|t,
    errors: form.getErrors('notificationEnabled'),
    instructions: 'Whether to email form submissions.'|t
}) }}
{{ forms.lightswitchField({
    label: 'Send confirmation'|t,
    id: 'sendCopy',
    name: 'sendCopy',
    on: form.sendCopy,
    onLabel: 'Enable'|t,
    offLabel: 'Disable'|t,
    errors: form.getErrors('sendCopy'),
    instructions: 'Whether to send a confirmation to the submitter.'|t,
    toggle: 'sendCopyTo-container'
}) }}
<div id="sendCopyTo-container"{% if form.sendCopy != '1' %} class="hidden"{% endif %}>
    {{ forms.selectField({
        label: "Send confirmation to"|t,
        instructions: "Please select an email field."|t,
        warning: "The value of this field should be an email address."|t,
        id: 'sendCopyTo',
        name: 'sendCopyTo',
        options: craft.amForms.getFieldHandles(),
        value: form.sendCopyTo
    }) }}
</div>
{{ forms.lightswitchField({
    label: 'Add attachments with notifications'|t,
    id: 'notificationFilesEnabled',
    name: 'notificationFilesEnabled',
    on: form.notificationFilesEnabled,
    onLabel: 'Enable'|t,
    offLabel: 'Disable'|t,
    errors: form.getErrors('notificationFilesEnabled'),
    instructions: 'Whether to add possible attachments to the email.'|t
}) }}
<hr>
<h2>{{ 'Notification'|t }}</h2>
{{ forms.textField({
    label: 'Email recipients'|t,
    id: 'notificationRecipients',
    name: 'notificationRecipients',
    class: 'amforms__selector--on',
    value: form.notificationRecipients,
    errors: form.getErrors('notificationRecipients'),
    instructions: 'Who will receive the notification? Enter comma separated email addresses for more recipients.'|t
}) }}
{{ forms.textField({
    label: 'Notification subject'|t,
    id: 'notificationSubject',
    name: 'notificationSubject',
    class: 'amforms__selector--on',
    value: form.notificationSubject,
    errors: form.getErrors('notificationSubject'),
    instructions: 'The subject of your notification email.'|t,
    placeholder: '{formName} form was submitted'|t
}) }}
{{ forms.textField({
    label: 'Sender name notification email'|t,
    id: 'notificationSenderName',
    name: 'notificationSenderName',
    class: 'amforms__selector--on',
    value: form.notificationSenderName,
    errors: form.getErrors('notificationSenderName'),
    instructions: 'The name of the sender of your notification email.'|t
}) }}
{{ forms.textField({
    label: 'Sender email address notification email'|t,
    id: 'notificationSenderEmail',
    name: 'notificationSenderEmail',
    class: 'amforms__selector--on',
    value: form.notificationSenderEmail,
    errors: form.getErrors('notificationSenderEmail'),
    instructions: 'The email address of the sender of your notification email.'|t
}) }}
{{ forms.textField({
    label: 'Reply to email address'|t,
    id: 'notificationReplyToEmail',
    name: 'notificationReplyToEmail',
    class: 'amforms__selector--on',
    value: form.notificationReplyToEmail,
    errors: form.getErrors('notificationReplyToEmail'),
    instructions: 'The reply to email address of your notification email.'|t
}) }}
<hr>
<h2>{{ 'Confirmation'|t }}</h2>
{{ forms.textField({
    label: 'Confirmation subject'|t,
    id: 'confirmationSubject',
    name: 'confirmationSubject',
    class: 'amforms__selector--on',
    value: form.confirmationSubject,
    errors: form.getErrors('confirmationSubject'),
    instructions: 'The subject of your confirmation email.'|t,
    placeholder: 'Thanks for your submission.'|t
}) }}
{{ forms.textField({
    label: 'Sender name confirmation email'|t,
    id: 'confirmationSenderName',
    name: 'confirmationSenderName',
    class: 'amforms__selector--on',
    value: form.confirmationSenderName,
    errors: form.getErrors('confirmationSenderName'),
    instructions: 'The name of the sender of your confirmation email.'|t
}) }}
{{ forms.textField({
    label: 'Sender email address confirmation email'|t,
    id: 'confirmationSenderEmail',
    name: 'confirmationSenderEmail',
    class: 'amforms__selector--on',
    value: form.confirmationSenderEmail,
    errors: form.getErrors('confirmationSenderEmail'),
    instructions: 'The email address of the sender of your confirmation email.'|t
}) }}
