{% set entries = form.id ? craft.entries.relatedTo({ targetElement: form.id }) : null %}

<h2>{{ 'Entries'|t }}</h2>
{% if not entries|length %}
    <p>{{ 'This form is not used at any entry at this moment.'|t }}</p>
{% else %}
    <div class="tableview">
        <table class="data fullwidth">
            <thead>
                <th scope="col">{{ "Title"|t }}</th>
                <th scope="col">{{ "Section"|t }}</th>
                <th scope="col">{{ "URI"|t }}</th>
                <th scope="col">{{ "Post Date"|t }}</th>
            </thead>
            <tbody>
                {% for entry in entries %}
                    <tr>
                        <td scope="row">
                            <div class="element">
                                <div class="label">
                                    <span class="status {{ entry.status }}"></span><span class="title"><a href="{{ entry.cpEditUrl }}" target="_blank">{{ entry.title }}</a></span>
                                </div>
                            </div>
                        </td>
                        <td scope="row">
                            {{ entry.section }}
                        </td>
                        <td scope="row">
                            {% if entry.url %}
                                <a href="{{ entry.url }}" target="_blank" class="go">{{ entry.uri }}</a>
                            {% else %}
                                --
                            {% endif %}
                        </td>
                        <td scope="row">
                            {{ entry.postDate|datetime }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
