{%- set element = (element is defined ? element : null) %}
{%- set handle = (field.handle is defined ? field.handle : null) %}
{%- set label = (field.name is defined ? field.name : null) %}
{%- set instructions = (field.instructions is defined ? field.instructions : null) %}
{%- set fieldInfo = craft.fields.populateFieldType(field, element) %}
{%- set type = field.type|lower %}
{%- set errors = element.getErrors(field.handle) -%}

{%- set namespace = null -%}
{%- if not form.submitAction %}
    {%- set namespace = (fieldInfo.namespace is defined ? fieldInfo.namespace : 'fields') %}
{% endif -%}

{% namespace namespace %}
    <div class="form__row form__row--{{ type }}{% if class is defined and class %} {{ class }}{% endif %}{% if errors %} has-errors{% endif %}"{% if handle %} id="{{ handle }}-field"{% endif %}>

        {% if label or instructions -%}
            <div class="form__label">
                {% if label -%}
                    <label{% if required is defined and required %} class="required"{% endif %}{% if handle %} for="{{ handle }}"{% endif %}>
                        {{ label|raw }}
                    </label>
                {% endif %}
                {% if instructions -%}
                    <em>{{ instructions|raw }}</em>
                {% endif %}
            </div>
        {% endif %}

        <div class="form__field{% if errors %} errors{% endif %}">
            {{ input|raw }}

            {% if errors -%}
                <ul class="errors">
                    {% for error in errors -%}
                        <li>{{ error }}</li>
                    {% endfor -%}
                </ul>
            {% endif -%}
        </div>
    </div>
{% endnamespace %}
