{% if craft.request.getParam('submitted') == form.handle %}
    <p>{{ form.afterSubmitText|default('Thanks for your submission.'|t) }}</p>
{% else %}
    {%- set submitValue = (form.submitButton ? form.submitButton : 'Submit'|t) -%}
    {%- set submitAction = (form.submitAction ? form.submitAction : 'amForms/submissions/saveSubmission') -%}

    <form class="form form--{{ form.handle }}" method="post" accept-charset="utf-8" enctype="multipart/form-data"{% if form.submitAction|length %} action="{{ submitAction }}"{% endif %}>
        {# Only CSRF protection, when we stay on this site #}
        {% if not form.submitAction|length -%}
            {{ getCsrfInput() }}
        {% endif -%}

        <input type="hidden" name="action" value="{{ submitAction }}">
        <input type="hidden" name="handle" value="{{ form.handle }}">
        <input type="hidden" name="namespace" value="{{ namespace }}">
        {% if form.afterSubmit == 'redirectEntryId' and form.redirectEntryId -%}
            <input type="hidden" name="redirect" value="{{ form.getRedirectUrl() }}">
        {% elseif form.afterSubmit == 'redirectUrl' and form.redirectUrl|length %}
            <input type="hidden" name="redirect" value="{{ form.redirectUrl }}">
        {% endif -%}
        {% if element.id %}
            <input type="hidden" name="submissionId" value="{{ element.id }}">
        {% endif %}

        {%- if antispam -%}
            {{ antispam }}
        {% endif -%}

        {{ body|raw }}

        {% if recaptcha -%}
            <div class="recaptcha">
                {{ recaptcha }}
                {% if element.getErrors('spamFree')|length -%}
                    <ul class="errors">
                        {% for error in element.getErrors('spamFree') -%}
                            <li>{{ error }}</li>
                        {% endfor -%}
                    </ul>
                {% endif -%}
            </div>
        {% endif -%}

        <div class="form__note">{{ 'Fields with a * are required'|t }}</div>

        <div class="buttons">
            <button class="button" name="send" type="submit">{{ submitValue }}</button>
        </div>
    </form>
{% endif %}
