{% import '_includes/forms' as forms %}

{% set fieldOptions = [] %}
{% for field in fields %}
    {% set fieldOptions = fieldOptions|merge([{ label: field.name, value: form.id ~ 'criteria-' ~ criteriaCounter ~ '-' ~ field.id }]) %}
{% endfor %}

<tr data-name="{{ 'Criteria'|t }}">
    <td class="criteriaSwitcher">
        {{ forms.select({
            id: form.id ~ 'criteria-' ~ criteriaCounter ~ '-select',
            name: form.id ~ '[criteria][fields][]',
            options: fieldOptions,
            value: (givenField is defined ? form.id ~ 'criteria-' ~ criteriaCounter ~ '-' ~ givenField : null),
            toggle: (givenField is defined)
        }) }}
    </td>
    <td>
        {% for field in fields %}
            {%- set fieldValue = null -%}
            {%- if givenValue is defined and givenField == field.id -%}
                {%- set fieldValue = givenValue -%}
            {%- endif -%}
            {%- set active = (givenField is defined and givenField == field.id ? true : (givenField is defined ? false : loop.first)) -%}

            <div id="{{ form.id }}criteria-{{ criteriaCounter }}-{{ field.id }}"{% if not active %} class="hidden"{% endif %}>
                {% switch field.type %}
                    {% case 'Assets' %}
                        {% set elements = [] %}
                        {% if fieldValue|length %}
                            {% for elementId in fieldValue %}
                                {% set elements = elements|merge([craft.assets.id(elementId).first()]) %}
                            {% endfor %}
                        {% endif %}

                        {{ forms.elementSelect({
                            id: form.id ~ criteriaCounter ~ field.handle,
                            name: form.id ~ '[criteria][' ~ field.id ~ '][' ~ criteriaCounter ~ ']',
                            elementType: craft.elements.getElementType('Asset'),
                            elements: elements,
                            limit: null,
                            addButtonLabel: (field.settings.selectionLabel is defined ? field.settings.selectionLabel|t : 'Add an asset'|t),
                            jsClass: 'Craft.AssetSelectInput',
                            sources: field.settings.sources,
                            criteria: {
                                kind: (field.settings.allowedKinds is defined ? field.settings.allowedKinds : [])
                            }
                        }) }}

                    {% case 'Checkboxes' %}
                        {{ forms.checkboxGroup({
                            id: form.id ~ criteriaCounter ~ field.handle,
                            name: form.id ~ '[criteria][' ~ field.id ~ '][' ~ criteriaCounter ~ ']',
                            options: field.settings.options,
                            values: fieldValue
                        }) }}

                    {% case 'Dropdown' %}
                        {{ forms.select({
                            id: form.id ~ criteriaCounter ~ field.handle,
                            name: form.id ~ '[criteria][' ~ field.id ~ '][]',
                            options: field.settings.options,
                            value: fieldValue
                        }) }}

                    {% case 'Entries' %}
                        {% set elements = [] %}
                        {% if fieldValue|length %}
                            {% for elementId in fieldValue %}
                                {% set elements = elements|merge([craft.entries.id(elementId).first()]) %}
                            {% endfor %}
                        {% endif %}

                        {{ forms.elementSelect({
                            id: form.id ~ criteriaCounter ~ field.handle,
                            name: form.id ~ '[criteria][' ~ field.id ~ '][' ~ criteriaCounter ~ ']',
                            elementType: craft.elements.getElementType('Entry'),
                            elements: elements,
                            limit: null,
                            addButtonLabel: (field.settings.selectionLabel is defined ? field.settings.selectionLabel|t : 'Add an entry'|t),
                            sources: field.settings.sources
                        }) }}

                    {% case 'Lightswitch' %}
                        {{ forms.lightswitch({
                            id: form.id ~ criteriaCounter ~ field.handle,
                            name: form.id ~ '[criteria][' ~ field.id ~ '][]',
                            on: fieldValue
                        }) }}

                    {% case 'PlainText' %}
                        {{ forms.text({
                            id: form.id ~ criteriaCounter ~ field.handle,
                            name: form.id ~ '[criteria][' ~ field.id ~ '][]',
                            value: fieldValue
                        }) }}

                    {% case 'RadioButtons' %}
                        {{ forms.radioGroup({
                            id: form.id ~ criteriaCounter ~ field.handle,
                            name: form.id ~ '[criteria][' ~ field.id ~ '][' ~ criteriaCounter ~ ']',
                            options: field.settings.options,
                            value: fieldValue
                        }) }}

                    {% default %}
                        {{ 'Not supported yet'|t }}

                {% endswitch %}
            </div>
        {% endfor %}
    </td>
    <td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a></td>
</tr>
