
<div class="{{ fieldName }}__wrapper">
    <label>{{ 'Leave this field blank'|t }}</label>
    <input type="text" id="{{ fieldName }}" name="{{ fieldName }}" value="">
</div>
<style>.{{ fieldName }}__wrapper{ display: none; }</style>
