{% if not submissions|length %}
    <p>{{ 'No submissions could be found.'|t }}</p>
{% else %}
    <div class="tableview">
        <table class="data fullwidth">
            <thead>
                <th scope="col">{{ "Form"|t }}</th>
                <th scope="col">{{ "Submission"|t }}</th>
                <th scope="col">{{ "Date"|t }}</th>
            </thead>
            <tbody>
                {% for submission in submissions -%}
                    <tr>
                        <td scope="row">
                            {{ submission.formName }}
                        </td>
                        <td scope="row">
                            <div class="element">
                                <div class="label">
                                    <span class="title"><a href="{{ submission.getCpEditUrl() }}">{{ submission.title }}</a></span>
                                </div>
                            </div>
                        </td>
                        <td scope="row">
                            {{ submission.dateCreated|date('d-m-Y') }} <span class="light">{{ submission.dateCreated|date('H:i') }}</span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
